body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.container {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}